.table-list {
    width: 100%;
    border: none;
    border-collapse: collapse;

    td {
        padding: 0 2rem;
    }

    thead {
        tr {
            color: var(--white);
            background-color: var(--gray-500);

            td {
                padding: 1.25rem 2rem;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background-color: #fff;
            }
            &:nth-child(even) {
                background-color: #f3f3f3;
            }
        }
    }

    .button {
        user-select: none;
        text-decoration: none !important;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        width: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
        background-color: var(--white);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        & + .button {
            margin-left: 5px;
        }
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        &.mark-as-done {
            text-decoration: line-through;
        }
    }
}
