@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --white: #fff;

    --gray-50: #f7f9fa;
    --gray-100: #e6e8eb;
    --gray-200: #afb2b1;
    --gray-500: #808080;
    --gray-800: #494d4b;

    --primary-500: #04d363;

    --secondary-300: #9f75ff;
    --secondary-400: #9161fa;
    --secondary-500: #8257e5;
    --secondary-800: #6841c2;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // 15px
    }
}

@media (max-width: 720px) {
    html {
        font-size: 75%; // 12px
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gray-50);
    max-width: 100vw;
}

body,
input,
textarea,
button {
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
    color: var(--gray-800);
}
